# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
env/
venv/

# Django
db.sqlite3
media/

# Environment Variables
.env

# React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
